html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: #131924;
}

ul {
  list-style: none;
  background-color: #27374D;
  padding: 0;
  text-align: center;
  position: sticky;
  top: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-family: "Apple Chancery", cursive;
}

ul li a:hover {
  background-color: #526D82;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

h1 {
  color: #EEEEEE;
  text-align: center;
  font-family: "Lucida Handwriting";
}

h3 {
  color: #EEEEEE;
  text-align: center;
  font-family: Papyrus;
}

p {
  color: #FFFFFF;
  text-align: center;
  line-height: 1.6;
}

span {
  color: #FFD369;
  font-weight: bold;
}

.my-box {
  background-color: #3F5366;
  border: 3px solid #2F3E4C;
  padding: 20px;
  width: 70%;
  margin: 20px auto;
  border-radius: 15px;
  color: white;
}

img {
  width: 250px;
  border-radius: 12px;
  margin: 10px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 3px solid #FFD369;
}

.gallery img:hover {
  transform: scale(1.1);
}

.my-box iframe {
  display: block;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #27374D;
  color: #DDE6ED;
  text-align: center;
  line-height: 60px;
}
